* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;



    align-items: center;
    justify-content: center;




}

.gameContent {
    width: 700px;
    height: 500px;
    background-color: black;

    position: relative;
}




.basket {
    width: 50px;
    height: 65px;
    background-color: rgb(0, 0, 0);
    background-image: url(./29046-6-empty-easter-basket-image.png);
    background-position: 50%;
    background-size: cover;
    position: absolute;
    bottom: 15px;
    left: 50%;
}









.water {
    width: 100%;
    height: 15px;
    background-color: aqua;
    background-image: url(./daniel-sinoca-aanclsb0su0-unsplash\ \(1\).jpg);
    background-position: center;
    position: absolute;
    bottom: 0;

}
























/* * {
    margin: 0;
    padding: 0;

}

#game-Canvas {
    width: 1024px;
    height: 576;


}


.mainContent {
    position: relative;

}

.smallContent {
    position: absolute;
}

.basketContainer {
    position: absolute;
    bottom: 0;
    width: 1000px;
}

.basket {
    width: 300px;
    height: 50px;
    color: rgb(45, 13, 190);
    position: absolute;
}

.waterContainer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.water {
    width: 1013px;
    height: 15px;
    background-color: aqua;
    background-image: url(./daniel-sinoca-aanclsb0su0-unsplash\ \(1\).jpg);
    background-position: center;
    position: relative;

}



.basket {
    width: 300px;
    height: 50px;
    color: rgb(45, 13, 190);
    position: absolute;




} */