* {
    margin: 5;
    padding: 0;

}

.canvas {
    margin: 200px;
    padding: 10px;
}

.player {
    color: blue;
}


.mainContent {
    position: relative;

}

.waterContainer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.water {
    width: 1013px;
    height: 15px;
    background-color: aqua;
    background-image: url(./daniel-sinoca-aanclsb0su0-unsplash\ \(1\).jpg);
    background-position: center;
    position: relative;



}