* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;



    align-items: center;
    justify-content: center;




}

.gameContent {
    width: 700px;
    height: 500px;
    background-color: black;

    position: relative;

    float: left;
}




.basket {
    width: 50px;
    height: 65px;
    background-color: rgb(0, 0, 0);
    background-image: url(./29046-6-empty-easter-basket-image.png);
    background-size: cover;
    position: absolute;
    bottom: 15px;
    left: calc(50% - 25px);
}







.water {
    width: 100%;
    height: 15px;
    background-color: aqua;
    background-image: url(./daniel-sinoca-aanclsb0su0-unsplash\ \(1\).jpg);
    background-position: center;
    position: absolute;
    bottom: 0;

}


.egg {
    width: 25px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    position: absolute;

}


.score {

    text-align: flex;


    font-size: 25px;
    font-style: italic;
    color: black;
}






.box-content {
    width: 30%;
    height: 400px;
    display: grid;
    justify-content: right;

    padding: 50px 50px;
    background-color: rgb(117, 222, 226);
    border-radius: 15px;
    box-shadow: 0 25px 32px black;
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(201, 255, 255, 0.1)), url(./Pictures/d4c1b56df5bc6094bcb340ca25bc9c6d.jpeg);
    background-position: center;
    background-size: cover;

    float: right;
    margin-left: 20px;
}

.text-area {
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 1.5;
}








/* * {
    margin: 0;
    padding: 0;

}

#game-Canvas {
    width: 1024px;
    height: 576;


}


.mainContent {
    position: relative;

}

.smallContent {
    position: absolute;
}

.basketContainer {
    position: absolute;
    bottom: 0;
    width: 1000px;
}

.basket {
    width: 300px;
    height: 50px;
    color: rgb(45, 13, 190);
    position: absolute;
}

.waterContainer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.water {
    width: 1013px;
    height: 15px;
    background-color: aqua;
    background-image: url(./daniel-sinoca-aanclsb0su0-unsplash\ \(1\).jpg);
    background-position: center;
    position: relative;

}



.basket {
    width: 300px;
    height: 50px;
    color: rgb(45, 13, 190);
    position: absolute;




} */